data/856/333/45/85633345.geojson filter=lfs diff=lfs merge=lfs -text
*.geojson text eol=lf
meta/wof-address-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-borough-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-building-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-campus-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-continent-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-country-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-county-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-dependency-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-disputed-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-empire-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-localadmin-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-locality-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-macrocounty-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-macrohood-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-macroregion-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-marinearea-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-metroarea-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-microhood-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-neighbourhood-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-ocean-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-planet-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-postalcode-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-region-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-timezone-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-latest.csv filter=lfs diff=lfs merge=lfs -text
